.footer {
    background: rgb(43,67,86);
    background: radial-gradient(circle, rgba(43,67,86,1) 0%, rgba(31,48,65,1) 100%);    
    height: 557px;
    display: flex;
    justify-content: flex-end;
    
}

.footer__image {
    position: sticky;
    top: 0;
    left: 0;
    height: 726px;
    margin-right: 330px;
}

.footer__social {
    color: white;
    padding: 0 45px 0 0;
    text-align: center;
    margin-top: 45px;
}
.footer__social a {
    text-decoration: none;
    color: white;
}

